
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# PyCharm and VS Code
.idea/
.vscode/

# Output files
*.log
*.csv
*.h5
*.ckpt
